{% load static %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEET JEE Counselling</title>
   

<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<!-- HEADER -->
<header class="header">
    <div class="logo">
        🎓 <span>NEET JEE Counselling</span>
    </div>

    <nav class="nav">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Courses</a>
        <a href="#">YouTube</a>
        <a href="#">Testimonials</a>
        <a href="#">Contact Us</a>
    </nav>
</header>

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-left">
        <h1>Your Path to Success <br>
            <span>in NEET & JEE</span>
        </h1>

        <p>
            Expert counselling and guidance for medical and engineering
            entrance exams. We help students achieve their dreams.
        </p>

        <button class="btn">Get Started →</button>
    </div>

    <!-- <div class="hero-right">
        <img src="hero.jpg" alt="Education Image">
    </div> -->
</section>

</body>
</html> {% endcomment %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Counselling{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- HEADER -->
<header class="header">
    <div class="logo">
        🎓 <span>NEET JEE Counselling</span>
    </div>

    <nav class="nav">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Courses</a>
        <a href="#">YouTube</a>
        <a href="#">Testimonials</a>
        <a href="{% url 'contact' %}">Contact Us</a>
    </nav>
</header>

{% block content %}
{% endblock %}

</body>
</html>