{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/courses.css' %}">

<div class="courses-page">

  <!-- ================= PAGE HEADER ================= -->
  <section class="courses-header" style="background-image:url('{{ page.banner_image.url }}');">
    <div class="container">
      <h1>Our Courses</h1>
      <p>Explore diverse courses available through NEET and JEE entrance exams.</p>
    </div>
  </section>

  <!-- ================= NEET SECTION ================= -->
  {% for category in exam_category %}
  <section class="section">
    <div class="container">

      <h2 class="section-title {% if 'NEET' in category.title %}green{% else %}blue{% endif %}">{{ category.title }}</h2>
      <p class="section-desc">
        {{ category.short_description }}
      </p>

      <div class="course-grid">

        <!-- MBBS -->
         {% for course in category.courses.all %}
        <div class="course-card {% if 'NEET' in category.title %}green-card{% else %}blue-card{% endif %}">
          <div class="card-top">
            <h3>{{ course.name }}</h3>
            <span class="badge {% if 'NEET' in category.title %}green{% else %}blue{% endif %}">{{ course.duration }}</span>
          </div>
          <p class="course-desc">{{ course.short_description }}</p>
          <div class="card-divider"></div>
          <p class="label">Career Opportunities</p>
          <p class="small-text">{{ course.career_opportunities }}</p>
          <div class="card-divider"></div>
          <p class="label">Eligibility</p>
          <p class="small-text">{{ course.eligibility }}</p>
        </div>

        {% endfor %}
      </div>
      <!-- Top Medical Colleges -->
      <div class="college-box {% if 'NEET' in category.title %}green-bg{% else %}blue-bg{% endif %}">
        <h3>Top {{ category.title }} Colleges in India</h3>
        <div class="college-grid">
        {% for college in category.top_colleges.all %}
          <div class="college-card">
            <p>{{ college.name }}</p>
            <p>{{ college.location }}</p>
            <span>{{ college.get_college_type_display }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </section>
{% endfor %}
  <!-- ================= NEED HELP ================= -->
  <section class="section">
    <div class="container">
      <h2 class="center">Need Help Choosing?</h2>

      <div class="help-grid">
        <div class="help-card">
          <div class="help-icon blue-help">
          <i class="bi bi-book"></i>
        </div>
          <h3>Course Guidance</h3>
          <p>Get expert advice on which course matches your interests.</p>
        </div>

        <div class="help-card">
           <div class="help-icon indigo-help">
          <i class="bi bi-mortarboard"></i>
        </div>
          <h3>College Selection</h3>
          <p>Choose the best college based on your rank.</p>
        </div>

        <div class="help-card">
           <div class="help-icon purple-help">
          <i class="bi bi-graph-up-arrow"></i>
        </div>
          <h3>Career Planning</h3>
          <p>Plan your future career path with our counselling support.</p>
        </div>
      </div>
    </div>
  </section>

</div>

{% endblock %}