{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="about-page">

  <!-- PAGE HEADER -->
  <section class="about-header" style="background-image:url('{{ page.banner_image.url }}');">
    <div class="container">
      <h1>About Us</h1>
      <p>
        Empowering students to achieve their dreams through expert guidance and
        comprehensive support.
      </p>
    </div>
  </section>


  <!-- OUR STORY -->
  <section class="section">
    <div class="container story-container">

      <h2>Our Story</h2>
       {% csrf_token %}
      <p>
        {{ story_section.story_text }}
      </p>

    </div>
  </section>


  <!-- VISION & MISSION -->
  <section class="section bg-light">
    <div class="container grid-2">

      <div class="card">
        <h2>
          <i class="bi bi-mortarboard-fill vision-icon"></i>
          Our Vision</h2>
        <p>
          {{ story_section.vision_text }}
        </p>
      </div>

      <div class="card">
        <h2>
          <i class="bi bi-compass-fill mission-icon"></i>
          Our Mission
        </h2>
        <p>
          {{ story_section.mission_text }}
        </p>
      </div>

    </div>
  </section>


  <!-- CORE VALUES -->
  <section class="section">
    <div class="container">

      <h2 class="center section-title">Our Core Values</h2>
      
      <div class="grid-4">
        {% for core in core_values %}
        <div class="value-card blue">
          <h3>{{ core.title }}</h3>
          <p>{{ core.description }}</p>
        </div>
        {% endfor %}
    </div>
  </section>


  <!-- TEAM -->
  <section class="section bg-light">
  <div class="container">

    <h2 class="center section-title">Meet Our Team</h2>

    <div class="grid-4">

      {% for team in team_members %}
      <div class="team-card">
        <div class="team-avatar">
          {% if team.image %}
          <img src="{{ team.image.url }}" alt=" {{ team.name }}">
          {% else %}
          {{ team.name|slice:":2"|upper }}
          {% endif %}
        </div>
    
        
        <h4>{{ team.name }}</h4>
        <p class="role">{{ team.designation }}</p>
        <p class="domain">{{ team.domain }}</p>
      </div>
      {% endfor %}

  </div>
</section>
  <!-- STATS -->
  <section class="section">
    <div class="container">

      <h2 class="center section-title">Our Impact</h2>

      <div class="grid-4">

        <div class="stat-card">
          <h3>5000+</h3>
          <p>Students Counselled</p>
        </div>

        <div class="stat-card">
          <h3>98%</h3>
          <p>Success Rate</p>
        </div>

        <div class="stat-card">
          <h3>500+</h3>
          <p>Partner Colleges</p>
        </div>

        <div class="stat-card">
          <h3>9+</h3>
          <p>Years of Experience</p>
        </div>

      </div>
    </div>
  </section>

</div>

{% endblock %}