{% extends "base.html" %}


{% block content %}

<!-- HERO SECTION -->

<section class="hero">
    <div class="hero-left">
        <h1>Your Path to Success <br>
            <span>in NEET & JEE</span>
        </h1>

        <p>
            Expert counselling and guidance for medical and engineering
            entrance exams. We help students achieve their dreams.
        </p>

        <button class="btn">Get Started →</button>
    </div>

    <div class="hero-right">
        <img src="hero.jpg" alt="Education Image">
    </div>  
    
</section> 
{% endblock  %}