{% extends "base.html" %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="home-page">


<!-- HERO SECTION -->
<section class="hero" 
  style = "background-image:url('{{ page.banner_image.url }}')">
  <div class="container">
    {% if banners %}
    <h1>{{ banners.heading }}</h1>
    {% endif %}
    {% if banners %}
    <p>
      {{ banners.banner_text }}
    </p>
    {% endif %}
    {% if banners %}
    <a href="{{ banners.button_url }}" class="btn">{{ banners.button_text }}</a>
    {% endif %}
  </div>
</section>



<!-- WHO WE ARE -->
<section class="section">
  <div class="container">

    <div class="center">
      <h2>Who We Are</h2>
      <p class="subtitle">
        We are dedicated professionals committed to helping students navigate
        medical and engineering entrance exams and admissions.
      </p>
    </div>

    <div class="grid-4">
      {% for who_we_are in who_we_are %}
      <div class="feature-card">
        <img src="{{ who_we_are.icon.url }}" class="feature-icon">
        <h3>{{ who_we_are.title }}</h3>
        <p>{{ who_we_are.description }}</p>
      </div>
      {% endfor %}
  </div>
</section>



<!-- WHY CHOOSE US -->
<section class="section light-bg">
  <div class="container grid-2">

    <div>
      {% if why_choose_us.image %}
      <img src="{{ why_choose_us.image.url }}"
           class="why-image"
           alt="Happy Students">
           {% endif %}
    </div>

    <div>
      <h2>Why Choose Us</h2>

      <p class="subtitle">
        We provide complete support to help you make informed decisions
        about your future.
      </p>

      <div class="check-list">
        {% if why_choose_us %}
        {{ why_choose_us.text }}
        {% endif %}
      </div>
    </div>

  </div>
</section>



<!-- VIDEOS -->
<section class="section">
  <div class="container">

    <div class="center">
      <h2>Educational Videos</h2>
      <p class="subtitle">
        Watch our comprehensive video guides to help you through the counselling process.
      </p>
    </div>

    <div class="grid-4">
      {% for featured in featured %}
      <a href="{{ featured.youtube_url }}" target="_blank" class="video-card">

    <div class="video-thumb">
        <img src="{{ featured.thumbnail.url }}" alt="">
        <div class="play-btn">
            ▶
        </div>
        <span class="duration">
            {{ featured.duration }}
        </span>
    </div>
    <div class="video-content">
        <h3>{{ featured.title }}</h3>
        <p>{{ featured.description }}</p>
        <span>{{ featured.views }}</span>
    </div>
</a>
{% endfor %}
    </div>
  </div>
</section>

</div>

{% endblock  %}