{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href={% static 'css/yt.css' %}>

<!-- HEADER -->
<section class="youtube-header"
style="background-image:url('{{ page.banner_image.url }}');">
  <div class="container">
    <h1>🎬 Educational Videos</h1>
    <p>
      Watch our comprehensive video guides to help you through the counselling process
      and make informed decisions.
    </p>
  </div>
</section>

<!-- STATS -->
<section class="stats-section">
  <div class="container stats-grid">
    {% for video_stats in video_stats %}
    <div class="stat">
      {% if forloop.counter == 1 %}
        <i class="bi bi-camera-video stat-icon red"></i>

        {% elif forloop.counter == 2 %}
        <i class="bi bi-graph-up-arrow stat-icon blue"></i>

        {% elif forloop.counter == 3 %}
        <i class="bi bi-youtube stat-icon red"></i>

        {% else %}
        <i class="bi bi-book stat-icon green"></i>
        {% endif %}
      <h3>{{ video_stats.value }}</h3>
      <p>{{ video_stats.label }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<!-- CATEGORY FILTER (STATIC) -->
<section class="category-section">
  <div class="container category-buttons">
    <a href="?"
      class="{% if not request.GET.category %}active{% endif %}">All
    </a>
    {% for category in categories %}
      <a href="?category={{ category.slug }}"
      class="{% if request.GET.category == category.slug %}active{% endif %}">{{ category.name }}
      </a>
    {% endfor %}
  </div>
</section>

<!-- VIDEO GRID -->
<section class="section">
  <div class="container video-grid">

    <!-- VIDEO CARD -->
     {% for videos in filtered_videos %}
    <a href = "{{ videos.youtube_url }}" target="_blank" class="video-card">
      <div class="thumb">
        <img src="{{ videos.thumbnail.url }}">
        <span class="category">{{ videos.category }}</span>
        <span class="duration">{{ videos.duration }}</span>
      </div>
      <div class="video-info">
        <h3>{{ videos.title }}</h3>
        <p>{{ videos.description }}</p>
        <span>{{ videos.views }}</span>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

<!-- SUBSCRIBE -->
<section class="subscribe">
  <div class="container center">
    <i class="bi bi-youtube subscribe-icon"></i>
    <h2>Subscribe to Our Channel</h2>
    <p>Get latest updates on NEET/JEE counselling and expert tips.</p>
    <a href="#" class="subscribe-btn">
      <i class="bi bi-youtube"></i>
      Subscribe Now</a>
  </div>
</section>

<!-- PLAYLISTS -->
<section class="playlist-section">
  <div class="container">

    <h2 class="section-title">Popular Playlists</h2>

    <div class="playlist-grid">
      {% for playlist in playlists %}
      <div class="playlist-card">
        <div class="playlist-icon">

            {% if forloop.counter == 1 %}
            <i class="bi bi-play-btn"></i>

            {% elif forloop.counter == 2 %}
            <i class="bi bi-play-btn"></i>

            {% else %}
            <i class="bi bi-play-btn"></i>
            {% endif %}

          </div>
        <h3>{{ playlist.title }}</h3>
        <p>{{ playlist.description }}</p>
        <a href ="{{ playlist.playlist_url }}" target="_blank" class = "playlist-btn">
          Watch Now
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}